.card {
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  margin: 20px auto 0 auto;
  position: relative;
}

.card p {
  position: relative;
  top: 40%;
  font-weight: bold;
}

.card button {
  position: absolute;
  bottom: 0;
}

.card button:nth-of-type(1) {
  left: 0;
}

.card button:nth-of-type(2) {
  left: 40%;
}

.card button:nth-of-type(3) {
  right: 0;
}