.card {
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  margin: 20px auto 0 auto;
  position: relative;
}

.card p {
  position: absolute;
  width: 100% !important;
  top: 35%;
  text-align: center;
  font-weight: bold;
}

.card__icon {
  position: absolute !important;
}

.card__icon--flip {
  top: 0;
  right: 0;
}

.card__icon--delete {
  bottom: 0;
  right: 0;
}

.card__icon--play {
  bottom: 13px;
  left: 5px;
}

.card__form {
  position: absolute;
  top: 35.5%;
  font-weight: bold;
  width: 100%;
}

.card__form div {
  width: 100% !important;
}

.card__form div input {
  text-align: center !important;
}

.card__form div div hr {
  width: 100% !important;
  display: none !important;
}

@media only screen  and (min-width : 768px) {
   .card {
      margin: 20px 10px 0 10px;
      text-align: center !important;
      /* align-se */
   }

   .game .card {
     margin: 20px auto 0 auto;
   }
}