.register-form {
  padding: 30px 20px 10px 20px;
}

.register-form * {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.register-form input {
  display: inline !important;
}

.link {
  margin-top: 10px;
  display: inline-block !important;
}