.top-nav h1 {
  font-size: 1.25em !important;
  position: absolute;
  left: 10%;
  font-family: "Life Savers", cursive;
}

.top-nav img {
  position: absolute;
  top: 20px;
  left: 2%;
  width: 20px;
  height: 20px;
}

@media only screen  and (min-width : 768px) {
  .top-nav h1 {
    left: 4%;
  }

  .top-nav img {
    left: 1%;
  }
}