.top-nav h1 {
  font-size: 1.25em !important;
  position: absolute;
  font-family: "Life Savers", cursive;
}

.top-nav img {
  position: absolute;
  top: 20px;
  left: 0;
  width: 20px;
  height: 20px;
}

/* span[role="menuitem"] div div div:nth-of-type(1) {
  /* display: none !important; */
/* } */

/* div[role="menu"] div:nth-of-type(1) span div {
  background-color: pink;
} */