.drawer > * {
  display: inline-block !important;
}

.drawer {
  text-align: left;
}

.drawer__menu-item {
  /* text-align: left; */
  position: relative !important;
  width: 100%;
  /* margin-left: 20px !important; */
  /* display: inline-block !important */
}

.drawer__menu-item button {
  text-align: left;
  /* padding: 0 !important; */
  /* position: relative !important; */
  /* top: 5px; */
  /* display: inline-block !important */
}