nav {
  position: fixed;
  background-color: grey;
  text-align: right;
  min-height: 20px;
  width: 100%;
  top: 0;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px 0 0;
}