* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Open sans", sans-serif;
  position: relative;
  min-height: 100%;
  padding-bottom: 20px;
}

.app {
  text-align: center;
}


